[submodule "search"]
	path = search
	url = git@github.com:simple-web-tools/search.git
[submodule "html_utils"]
	path = html_utils
	url = git@github.com:py-garden/html_utils.git
[submodule "fs_utils"]
	path = fs_utils
	url = git@github.com:py-garden/fs_utils.git
